.guide {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 216px;
  padding: 12px;
}

.guideFirstOption {
  background-color: rgb(48, 48, 48);
}

.guideOption, .guideFirstOption {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 180px;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.guideOptionText {
  width: 132px;
  height: 20px;
  margin-left: 24px;
}

.homeIcon {
  width: 24px;
}