body {
  background-color: black;
}

p {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

button {
  background-color: white;
  font-family: "Black Ops One", sans-serif;
  border-width: 0px;
}

.layoutGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr 6fr;
}

.pageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.pageLogo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 60px;
  border-style: dotted;
  border-width: 2px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: grey;
}

.headerText {
  font-family: "Black Ops One", sans-serif;
  font-size: 40px;
}

.f1Logo {
  width: 100px;
}

.pageTutorial {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(180, 0, 0);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.selectText {
  font-weight: 700;
}

.ferrariArt {
  width: 300px;
}

.timelineContainer {
  display: grid;
  grid-template-columns: 30fr 1fr 30fr;
}

.timeline {
  display: grid;
  grid-template-rows: 1.5fr 15fr;
}

.timelineBody {
  background-color: white;
}

.timelineContent {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sixty {
  background-image: url("checkeredFlagLeft.webp");
  margin-top: 57px;
}

.sixtyfive {
  background-image: url("checkeredFlagRight.webp");
  margin-top: 78px;
}

.seventy, .seventyfive, .eighty, .eightyfive, .ninety, .ninetyfive, .twoK, .twoKFive, .twoKTen, .twoKFifteen, .twoKTwenty, .today {
  margin-top: 60px;
}
